@media screen and (min-width:0px) and (max-width:600px){
    .hero-section{
        display: flex;
        flex-direction: column-reverse;
        overflow: hidden;
        
    }
    .hero-sub-section-1{
        flex-direction: column;
    }
    .hero-sub-section-2  img{
        flex-direction: column-reverse;
        width: 100px;
    }
}